<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="Jared Pendergraft">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.tags %}{{ page.tags }},{{ site.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="mask-icon" href="{{ "/assets/img/website_icon.svg" | prepend: site.baseurl }}" color="#66bb90">
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="{% if page.social %}{{ page.social | prepend: site.url }}{% else %}{{ "assets/img/social/social.jpg" | prepend: site.url }}{% endif %}"/>
  <meta name="twitter:card" content="photo">
  <meta name="twitter:creator" content="@{{ site.twitter }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="twitter:image:src" content="{% if page.social %}{{ page.social | prepend: site.url }}{% else %}{{ "assets/img/social/social.jpg" | prepend: site.url }}{% endif %}">
</head>
<body {% if page.class %}class="{{ page.class }}"{% endif %}>
<header role="main">
  <section class="wrapper wrapper--short wrapper--bleed">
    <a class="name" href="{{ site.baseurl }}/">Jared Pendergraft</a>
    <nav role="main">
      <a href="{{ site.baseurl }}/projects" {% if page.class == 'projects' %}class="active"{% endif %}>Projects</a>
      <a href="{{ site.baseurl }}/snippets" {% if page.class == 'snippets' %}class="active"{% endif %}>Snippets</a>
      <a href="mailto:{{ site.email }}?subject=Hey Jared, love the site, how’s it going?" class="social">{% include svg/email.svg %}</a>
      <a href="https://twitter.com/jaredpdesigns" target="_blank" class="social">{% include svg/twitter.svg %}</a>
      <a href="https://dribbble.com/jaredpdesigns" target="_blank" class="social">{% include svg/dribbble.svg %}</a>
    </nav>
  </section>
</header>
<main>