// Typography

html {
  @include type-sans;
  font-size: 100%;
  color: $color-base;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
}

h1 { @include type-xl; }

h2 { @include type-l; }

h3, h4 { @include type-ml; }

p, li {
  @include type-m;
  @include type-serif;
}

h5 { @include type-s; }

b, strong { @include type-bold; }

i, em { @include type-italic; }

hr {
  display: block;
  border-top: $border-s $color-highlight-25;
}

abbr {
  font-variant-caps: all-small-caps;
  font-feature-settings: "c2sc", "smcp";
}

code {
  @include type-s;
  @include type-mono;
  @include padding(xs,l);
  @include padding(xs,r);
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xxs;
  color: $color-base-75;
  white-space: pre-wrap;
}

pre {
  @include padding(s);
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xs;
  overflow: hidden;
  overflow-x: auto;
  word-wrap: normal;
  code {
    @include type-xs;
    border: none;
    padding: 0;
    white-space: pre;
  }
}

.highlight {
  .m, .mi, .n, .nf, .nv, .nd, .s1, .o + .nt { color: $color-highlight; }
  .k, .kd, .o, .nb, .nt, .err, .nx, .o + .m, .p + .nf { color: $color-base-75; }
  .p  { color: $color-base-38; }
}

.type__style--sans { @include type-sans; }

.type__style--serif { @include type-serif; }

.type__style--mono { @include type-mono; }

.type__style--caps { @include type-caps; }

.type__align--left { @include type-left; }

.type__align--center { @include type-center; }

.type__align--right { @include type-right; }

.type__align--legible { @include type-legible; }

.type__align--inline {
  @include inline;
  + .type__align--inline { @include margin(s,l); }
}

// List Items

ol, ul {
  @include padding(m,l);
  list-style-position: outside;
  @include bp(m) { padding-left: 0; }
}

ol { counter-reset: step-counter; }

ol li {
  counter-increment: step-counter;
  position: relative;
  &:before { 
    content: ""counter(step-counter)".";
    color: $color-highlight;
    position: absolute;
    top: 0;
    left: rem(-28);
  }
  ol li { 
    &:before { content: ""counter(step-counter,lower-alpha)"."; }
    ol li { 
      &:before { content: ""counter(step-counter,lower-roman)"."; }
    }
  }
}

ul li {
  list-style-type: none;
  position: relative;
  &:before {
    @include type-sans;
    @include type-l;
    content: '•';
    position: absolute;
    top: rem(-2);
    left: -$space-m;
    color: $color-highlight;
  }
  ul li:before { content: '-'; }
}

li {
  ol, ul { @include padding(m,l); }
}

// Links 

a { @include smooth; }

p a:not(.btn) {
  color: $color-highlight;
  border-bottom: $border-s $color-highlight-50;
  &:hover { color: $color-highlight-75; }
}

p a[href*="http"]:after, li a[href*="http"]:after {
  content: "\2197";
  display: inline-block;
  color: $color-highlight;
  margin-left: rem(4);
}

// Colors

.color__bg--base      { background-color: $color-base; }
.color__bg--base-75   { background-color: $color-base-75; }
.color__bg--base-62   { background-color: $color-base-62; }
.color__bg--base-50   { background-color: $color-base-50; }
.color__bg--base-38   { background-color: $color-base-38; }
.color__bg--base-25   { background-color: $color-base-25; }
.color__bg--base-12   { background-color: $color-base-12; }
.color__bg--base-5    { background-color: $color-base-5; }
.color__bg--base-dark { background-color: $color-base-dark; }

.color__bg--highlight      { background-color: $color-highlight; }
.color__bg--highlight-75   { background-color: $color-highlight-75; }
.color__bg--highlight-62   { background-color: $color-highlight-62; }
.color__bg--highlight-50   { background-color: $color-highlight-50; }
.color__bg--highlight-38   { background-color: $color-highlight-38; }
.color__bg--highlight-25   { background-color: $color-highlight-25; }
.color__bg--highlight-12   { background-color: $color-highlight-12; }
.color__bg--highlight-5    { background-color: $color-highlight-5; }
.color__bg--highlight-dark { background-color: $color-highlight-dark; }

.color__bg--white { background-color: $color-tint; }

.color__type--base      { color: $color-base; }
.color__type--base-75   { color: $color-base-75; }
.color__type--base-62   { color: $color-base-62; }
.color__type--base-50   { color: $color-base-50; }
.color__type--base-38   { color: $color-base-38; }
.color__type--base-25   { color: $color-base-25; }
.color__type--base-12   { color: $color-base-12; }
.color__type--base-5    { color: $color-base-5; }
.color__type--base-dark { color: $color-base-dark; }

.color__type--highlight      { color: $color-highlight; }
.color__type--highlight-75   { color: $color-highlight-75; }
.color__type--highlight-62   { color: $color-highlight-62; }
.color__type--highlight-50   { color: $color-highlight-50; }
.color__type--highlight-38   { color: $color-highlight-38; }
.color__type--highlight-25   { color: $color-highlight-25; }
.color__type--highlight-12   { color: $color-highlight-12; }
.color__type--highlight-5    { color: $color-highlight-5; }
.color__type--highlight-dark { color: $color-highlight-dark; }

.color__type--white { color: $color-tint; }

// Page Structure

.video__holder {
	position:relative;
  height: 0;
  padding-bottom: 56.25%;
  iframe, object { @include fill; }
}

.btn {
  @include padding(xs);
  @include padding(s,l);
  @include padding(s,r);
  @include inline;
  @include type-s;
  @include type-sans;
  background-color: $color-tint;
  border: $border-s $color-highlight-50;
  border-radius: $space-xs;
  color: $color-highlight;
  &:after {
    @include type-serif;
    @include margin(xs,l);
    @include smooth-pop;
    content: '→';
  }
  &:hover {
    border-color: $color-highlight-75;
    &:after { transform: translate3d($space-xxs,0,0); }
  }
  &.btn--left {
    &:after {
      margin: 0;
      @include margin(xs,r);
      order: -1;
      content: '←';
    }
    &:hover:after { transform: translate3d(-$space-xxs,0,0);  }
  }
  + .btn { @include margin(s,l); }
  &.btn--secondary {
    background-color: $color-tint;
    border-color: $color-highlight-25;
    color: $color-highlight;
    &:hover {
      background-color: $color-tint;
      border-color: $color-highlight;
    }
  }
}