<!DOCTYPE html>
<html lang="en" class="padding__all--s">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="jared pendergraft, jared pendergraft designs, design, website, graphic design hawaii, web design hawaii, graphic design maui, web design maui">
    <meta name="author" content="Jared Pendergraft">
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ img }}">
    <meta property="og:image:height" content="630">
    <meta property="og:image:width" content="1200">
    <meta property="og:site_name" content="Jared Pendergraft">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jaredpendergraft.com{{ slug }}">
    <meta name="twitter:card" content="photo">
    <meta name="theme-color" content="hsl(158, 32%, 38%)">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="icon" href="favicon.ico" alternate>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    <link rel="preconnect" href="https://use.typekit.net"/>
    <link
      rel="preload"
      href="https://use.typekit.net/vkr4fst.css"
      as="style"
/>
    <link
      rel="stylesheet"
      href="https://use.typekit.net/vkr4fst.css"
/>
    <script async defer src="{{ '/js/scripts.js' | url }}"></script>
  </head>
  <body class="color__bg--contrast flow__grid flow__align--v-start">
    <header class="border__bottom color__border--highlight--light flow__grid padding__bottom--m padding__top--m width__full">
      <nav class="flow__flex flow__align--h-center flow__align--v-center flow__flex--wrap">
        <a href="/" class="color__type--base--ish type__family--secondary type__size--m-xl type__weight--bold">
          <strong>Jared Pendergraft</strong>
        </a>
        <section class="color__type--base--ish flow__inline oomph__h--m type__size--m-xl type__weight--semibold">
          <a href="/" {% if page.url === '/' %} aria-current="page"{% endif %}>About</a>
          <a href="/projects/" {% if page.url.includes('projects') %} aria-current="page"{% endif %}>Projects</a>
          <a href="/hire/" {% if page.url.includes('hire') or page.url.includes('clients') %} aria-current="page"{% endif %}>Hire Me</a>
        </section>
      </nav>
    </header>
    <main class="{{ class }} flow__grid flow__align--v-start padding__bottom--xl padding__top--xl width__full">
      <article class="flow__grid oomph__v--l">
        {{ content | safe }}
      </article>
    </main>
    <footer class="border__top color__border--highlight--light flow__grid padding__bottom--m padding__top--m width__full">
      <section class="flow__flex flow__align--h-center flow__align--v-center flow__flex--wrap">
        <p class="color__type--base--ish">© {% Year %} Jared Pendergraft</p>
        <nav class="color__type--base--ish oomph__h--s">
          <a class="flow__inline flow__align--h-center flow__align--v-center flow__size--h-xl flow__size--w-xl radius__xs" href="mailto:hello@jaredpendergraft.com?subject=Hey Jared, love the site, how’s it going?" title="Send me an email">
            {% Icon 'email' %}
          </a>
          <a class="flow__inline flow__align--h-center flow__align--v-center flow__size--h-xl flow__size--w-xl radius__xs" href="https://twitter.com/jaredpdesigns" title="Follow me on Twitter" target="_blank" rel="noopener">
            {% Icon 'twitter' %}
          </a>
          <a class="flow__inline flow__align--h-center flow__align--v-center flow__size--h-xl flow__size--w-xl radius__xs" href="https://dribbble.com/jaredpdesigns" title="Follow me on Dribbble" target="_blank" rel="noopener">
            {% Icon 'dribbble' %}
          </a>
          <button class="flow__inline flow__align--h-center flow__align--v-center flow__size--h-xl flow__size--w-xl radius__xs" onclick="setTheme()" title="Toggle website theme">
            {% Icon 'contrast' %}
          </button>
        </nav>
      </section>
    </footer>
  </body>
</html>