<figure>
  <picture>
    <source
      srcset="{{ errorImg }}giphy.webp"
      type="image/webp"
/>
    <img
      class="radius__m width__full"
      loading="lazy"
      src="{{ errorImg }}"
      alt="Don’t delete the internet!"
      height="320"
      width="320"
/>
  </picture>
</figure>