---
layout: default
---
<article class="wrapper">
  {{ content }}
</article>
<footer role="extra">
  <section class="wrapper wrapper--short">
    <p>A thing by <a href="{{ site.baseurl }}/" target="_blank">Jared Pendergraft</a></p>
    <nav role="extra">
      <a href="https://twitter.com/jaredpdesigns" target="_blank" class="social">{% include svg/twitter.svg %}</a>
      <a href="https://dribbble.com/jaredpdesigns" target="_blank" class="social">{% include svg/dribbble.svg %}</a>
    </nav>
  </section>
</footer>
