---
layout: default
---
<article>
  <header class="biggie project__inner--header" style="background-image: url('{{ site.baseurl }}/assets/img/projects/{{ page.img }}')">
    <section class="wrapper">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
      <hr>
      <h5>{{ page.role | join: ' & ' }}</h5>
      {% if page.url-out %}<a class="btn" target="_blank" href="{{ page.url-out }}">Visit Site</a>{% endif %}
    </section>
  </header>
  <section class="project__inner--content wrapper">
    {{ content }}
  </section>
</article>