---
layout: default
---
<article class="project__inner">
  <header class="project__inner--header-big" style="background-color: {{ page.color }};">
    <section class="wrapper">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
      <hr>
      <h5>{{ page.role | join: ' & ' }}</h5>
      {% if page.url-out %}<a class="btn" target="_blank" href="{{ page.url-out }}">Visit Site</a>{% endif %}
    </section>
    <img class="lazy" alt="{{ page.title }} Feature Image" data-src="{{ site.baseurl }}/assets/img/projects/{{ page.img-inner }}">
  </header>
  <section class="project__inner--content wrapper">
    {{ content }}
  </section>
  <footer class="project__inner--footer">
    <nav role="projects" class="wrapper wrapper--short">
      {% if page.previous.url %}
        <a class="btn btn-left" href="{{ page.previous.url | prepend: site.baseurl  }}">{{ page.previous.title }}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="btn" href="{{ page.next.url | prepend: site.baseurl  }}">{{ page.next.title }}</a>
      {% endif %}
    </nav>
  </footer>
</article>