---
layout: page
class: 'resume'
---
<header class="resume__header type__align--center">
  <h1>{{ page.title }}</h1>
  <nav>
    <a class="btn" href="{{ site.baseurl }}/projects">Portfolio</a>
    <a class="btn" href="https://dribbble.com/jaredpdesigns" target="_blank">Dribbble</a>
    <a class="btn" href="mailto:hello@jaredpendergraft.com?subject=Hey Jared, your résumé looks great, let’s talk!">Email</a>
    <a class="btn" href="https://twitter.com/jaredpdesigns" target="_blank">Twitter</a>
  </nav>
</header>
<section class="resume__text">
  {{ content }}
</section>