*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  min-height: 100%;
  vertical-align: baseline;
}

picture, img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video,
pre {
  display: block;
}

canvas {
  -ms-touch-action: double-tap-zoom;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  color: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// Forms
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: block;
  font-family: inherit;
  &:focus {
    outline: 0;
  }
}

label,
input,
button,
select,
textarea {
  background: transparent;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  width: 100%;
  max-width: 100%;
  border: none;
  outline: 0;
}

button {
  cursor: pointer;
  text-align: left;
}

input[type="search"] {
  appearance: searchfield;
}

//input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner,
a::-moz-focus-inner {
  border: 0;
  padding: 0;
}
