@layer pasta, project, page;

@import url("https://unpkg.com/@jaredpdesigns/pasta") layer(pasta);

@layer project {
  :root {
    --maxWidth: var(--width__l);
    --outline__offset: var(--size__xs);
    --outline__size: calc(var(--size__xxs) * 2);
    --outline__style: dotted;
    --type__family--primary: "degular-variable", sans-serif;
    --transition: cubic-bezier(0.5, -0.1, 0.1, 1.5);
    --bleed: 0;

    @media (min-width: 60rem) {
      --bleed: calc(var(--size__l) * -1);
    }

    @media (min-width: 120rem) {
      --maxWidth: var(--width__l);
    }
  }

  body {
    align-items: start;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100vh;

    >header,
    >footer {
      >section {
        inline-size: 100%;
        max-inline-size: var(--maxWidth);
        padding-inline-start: calc(var(--size__l) + env(safe-area-inset-left));
        padding-inline-end: calc(var(--size__l) + env(safe-area-inset-right));
      }
    }

    >header {
      border-block-start-color: var(--color__highlight);
      border-block-start-width: var(--size__xs);
      position: sticky;
      top: 0;
      z-index: 1;

      @supports (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 25%);
        backdrop-filter: blur(32px);
      }

      @supports not (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 2%);
        ;
      }

      nav a {
        text-decoration: unset;

        &:focus-visible,
        &:hover {
          color: var(--color__base);
        }

        &[aria-current="page"] {
          color: var(--color__base);
          text-decoration-color: var(--color__highlight--semi);
          text-decoration-thickness: calc(var(--size__xxs) * 2);
          text-decoration-line: underline;
          text-underline-offset: var(--size__xs);
        }
      }

      button {

        &:hover,
        &:focus-visible {
          color: var(--color__base);
          opacity: 1;
        }

        &:focus-visible {
          background-color: var(--color__highlight--ghost);
        }
      }
    }

    >main>article {
      display: grid;
      inline-size: 100%;
      margin-inline: auto;
      max-inline-size: var(--maxWidth);
      padding-block: var(--size__l);
      padding-inline-start: calc(var(--size__l) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__l) + env(safe-area-inset-right));

      @media(min-width: 60rem) {
        padding-block: var(--size__xxxl);
      }

      >* {
        min-inline-size: 0;
        scroll-margin-top: calc(var(--size__xxxl) * 2);

        +* {
          margin-block-start: var(--size__l);
        }

        +hr {
          margin-block-start: var(--size__xxxl);
        }
      }

      >p:empty {
        display: none;
      }
    }
  }

  em {
    font-style: normal;
    font-variation-settings: 'ital' 1, 'wght' 400;
  }

  strong,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    font-variation-settings: 'opsz' 8, 'wght' 600;

    em {
      font-variation-settings: 'opsz' 8, 'wght' 600, 'ital' 1;
    }
  }

  h1 {
    font-size: var(--type__size--xxxl);
    font-weight: 700;
    font-variation-settings: 'opsz' 12, 'wght' 700;
    line-height: var(--type__lineheight--xxxl);

    @media (min-width: 79rem) {
      font-size: var(--type__size--xxxxl);
      line-height: var(--type__lineheight--xxxxl);
    }

    em {
      font-variation-settings: 'opsz' 12, 'wght' 700, 'ital' 1;
    }

    &:not(*[class^="color__type"]) {
      color: var(--color__highlight);
    }
  }

  h2,
  h3,
  h4,
  h5 {
    &:not(*[class^="color__type"]) {
      color: var(--color__base--ish);
    }
  }

  code,
  pre {
    --color__primary: hsl(260, 64%, 75%);
    --color__secondary: hsl(190, 64%, 75%);
    --color__tertiary: hsl(158, 90%, 75%);
  }

  code:not(pre code) {
    word-wrap: unset;
  }

  blockquote {
    border-radius: var(--size__m);
    box-shadow: none;
    margin-inline: var(--bleed);
    padding: var(--size__l);

    p a {

      &:hover,
      &:focus-visible {
        background-color: var(--color__contrast);
      }
    }
  }

  a {
    border-radius: var(--size__xs);
  }

  .gallery {
    grid-template-columns: inherit;
    grid-column: 1/-1;

    >section:first-child {
      grid-column: 2;
    }

    &__meta {
      margin-inline: var(--bleed);
    }

    &__images {
      grid-column: 1 / -1;
      grid-template-columns: inherit;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        inline-size: 0 !important;
      }

      &--wrap {
        grid-column: 2;
        margin-inline-start: var(--bleed);

        &:after {
          content: "";
          display: block;
          padding: var(--size__s);
        }

        &>* {
          flex: 1 0 auto;
          inline-size: 50ch;
          max-inline-size: 100%;
          position: relative;
        }

        label {
          >* {
            grid-area: 1 / 1;
          }

          >span {
            margin-block-end: 3.75rem;
          }

          input {
            block-size: 100%;
            inline-size: 100%;
          }

          img {

            &:first-of-type {
              [data-theme="dark"] & {
                display: none;
              }
            }

            &:last-of-type {
              [data-theme="light"] & {
                display: none;
              }
            }
          }

          p:last-child {
            align-self: end;
            margin-block-start: 3.75rem;
          }
        }
      }
    }
  }
}