.gallery {
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    inline-size: 0 !important;
    display: none;
  }
  &__wrap {
    grid-column: 2;
    position: relative;
    &:after {
      background-image: linear-gradient(
        to left,
        hsl(0, 100%, 100%) 0%,
        hsla(0, 100%, 100%, 0.738) 19%,
        hsla(0, 100%, 100%, 0.541) 34%,
        hsla(0, 100%, 100%, 0.382) 47%,
        hsla(0, 100%, 100%, 0.278) 56.5%,
        hsla(0, 100%, 100%, 0.194) 65%,
        hsla(0, 100%, 100%, 0.126) 73%,
        hsla(0, 100%, 100%, 0.075) 80.2%,
        hsla(0, 100%, 100%, 0.042) 86.1%,
        hsla(0, 100%, 100%, 0.021) 91%,
        hsla(0, 100%, 100%, 0.008) 95.2%,
        hsla(0, 100%, 100%, 0.002) 98.2%,
        hsla(0, 100%, 100%, 0) 100%
      );
      content: "";
      display: block;
      padding-right: var(--size__xxxl);
      position: sticky;
      right: 0;
      margin-left: calc(var(--size__xl) * -1);
      align-self: stretch;
      z-index: 100;
      [data-theme="dark"] & {
        background-image: linear-gradient(
          to left,
          hsl(218, 16%, 8%) 0%,
          hsla(218, 16%, 8%, 0.738) 19%,
          hsla(218, 16%, 8%, 0.541) 34%,
          hsla(218, 16%, 8%, 0.382) 47%,
          hsla(218, 16%, 8%, 0.278) 56.5%,
          hsla(218, 16%, 8%, 0.194) 65%,
          hsla(218, 16%, 8%, 0.126) 73%,
          hsla(218, 16%, 8%, 0.075) 80.2%,
          hsla(218, 16%, 8%, 0.042) 86.1%,
          hsla(218, 16%, 8%, 0.021) 91%,
          hsla(218, 16%, 8%, 0.008) 95.2%,
          hsla(218, 16%, 8%, 0.002) 98.2%,
          hsla(218, 16%, 8%, 0) 100%
        );
      }
    }
  }
  &__item {
    --size: 50ch;
    flex: 1 0 auto;
    max-width: var(--size);
    scroll-snap-align: center; // This is what actually centers things
    width: 100%;
  }
}

.grid {
  @media (max-width: 25rem) {
    --columnWidth: 10rem;
  }
  @media (min-width: 89rem) {
    --columnWidth: 35rem;
  }
}

.project__header {
  grid-column: 1/-1;
  &--inner {
    background-color: hsla(var(--brand), 0.125);
    border-color: hsla(var(--brand), 0.25);
    h1 {
      color: var(--color__base--ish);
    }
    a {
      svg {
        margin-left: var(--size__s);
        opacity: 0.5;
      }
    }
    figure {
      background-color: hsl(var(--brand));
      @media (min-width: 29rem) {
        padding-left: var(--size__m);
        padding-right: var(--size__m);
        padding-top: var(--size__m);
      }
      [data-theme="dark"] & {
        picture:first-child {
          display: none;
        }
        picture:nth-of-type(2) {
          display: block !important;
        }
      }
      img {
        aspect-ratio: 1400 / 900;
        @media (min-width: 29rem) {
          border-top-left-radius: var(--size__s);
          border-top-right-radius: var(--size__s);
        }
      }
    }
    > section {
      @media (max-width: 29rem) {
        border-top: var(--size__xxs) solid hsla(var(--brand), 0.25);
      }
      @media (min-width: 29rem) {
        padding: var(--size__l);
        > * + * {
          margin-top: var(--size__l);
        }
      }
    }
  }
}

.project__detail--caption {
  @media (min-width: 29rem) {
    margin-left: calc(var(--size__m) * -1);
    margin-right: calc(var(--size__m) * -1);
  }
}

.process {
  header {
    @media (min-width: 29rem) {
      grid-template-columns: auto 1fr;
    }
  }
}
