.gallery {
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    inline-size: 0 !important;
    display: none;
  }
  &__wrap {
    grid-column: 2;
    position: relative;
    &:after {
      --bg: var(--color__hue--contrast);
      background-image: linear-gradient(
        to left,
        hsl(var(--bg)) 0%,
        hsl(var(--bg) / 0.738) 19%,
        hsl(var(--bg) / 0.541) 34%,
        hsl(var(--bg) / 0.382) 47%,
        hsl(var(--bg) / 0.278) 56.5%,
        hsl(var(--bg) / 0.194) 65%,
        hsl(var(--bg) / 0.126) 73%,
        hsl(var(--bg) / 0.075) 80.2%,
        hsl(var(--bg) / 0.042) 86.1%,
        hsl(var(--bg) / 0.021) 91%,
        hsl(var(--bg) / 0.008) 95.2%,
        hsl(var(--bg) / 0.002) 98.2%,
        hsl(var(--bg) / 0) 100%
      );
      content: "";
      display: block;
      padding-right: var(--size__xxxl);
      position: sticky;
      right: 0;
      margin-left: calc(var(--size__xl) * -1);
      align-self: stretch;
      z-index: 100;
      [data-theme="dark"] & {
        --bg: 218deg 16% 8%;
      }
    }
  }
  &__item {
    --size: 50ch;
    flex: 1 0 auto;
    max-width: var(--size);
    scroll-snap-align: center; // This is what actually centers things
    transform: translateX(calc(var(--size__m) * -1));
    width: 100%;
    .loaded & {
      animation: var(--animation);
    }
  }
}

.grid {
  @media (max-width: 25rem) {
    --columnWidth: 10rem;
  }
  @media (min-width: 89rem) {
    --columnWidth: 35rem;
  }
  &__item {
    max-width: 39rem;
    transform: translateY(calc(var(--size__m) * -1));
    .loaded & {
      animation: var(--animation);
    }
  }
}

.project__header {
  grid-column: 1/-1;
  transform: translateY(calc(var(--size__m) * -1));
  .loaded & {
    animation: var(--animation);
  }
  &--inner {
    background-color: hsl(var(--brand) / 0.125);
    border-color: hsl(var(--brand) / 0.25);
    @media (min-width: 29rem) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 63rem) {
      --columnCount: 2;
    }
    h1 {
      color: var(--color__base--ish);
    }
    a {
      svg {
        margin-left: var(--size__s);
        opacity: 0.5;
      }
    }
    figure {
      background-color: hsl(var(--brand));
      @media (min-width: 29rem) {
        padding-left: var(--size__m);
        padding-right: var(--size__m);
        padding-top: var(--size__m);
      }
      [data-theme="dark"] & {
        picture:first-child {
          display: none;
        }
        picture:last-child {
          display: block !important;
        }
      }
      img {
        aspect-ratio: 1400 / 900;
        @media (min-width: 29rem) {
          border-top-left-radius: var(--size__s);
          border-top-right-radius: var(--size__s);
        }
      }
    }
    > section {
      @media (max-width: 63rem) {
        border-top: var(--size__xxs) solid hsl(var(--brand) / 0.25);
      }
      @media (min-width: 29rem) {
        padding: var(--size__l);
        > * + * {
          margin-top: var(--size__l) !important;
        }
      }
      @media (min-width: 63rem) {
        > * {
          margin-left: auto;
          margin-right: auto;
          max-width: var(--width__m);
          width: 100%;
        }
      }
    }
  }
}

.project__detail--caption {
  @media (min-width: 29rem) {
    margin-left: calc(var(--size__m) * -1);
    margin-right: calc(var(--size__m) * -1);
  }
}

.process {
  header {
    @media (min-width: 29rem) {
      grid-template-columns: auto 1fr;
    }
  }
}

.tags {
  grid-column: 2;
}
