.gallery {
  grid-column: 1 / -1;
  grid-template-columns: inherit;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    inline-size: 0 !important;
    display: none;
  }
  &__wrap {
    grid-column: 2;
    position: relative;
    &:after {
      --bg: var(--color__hue--contrast);
      background-image: linear-gradient(
        to left,
        hsl(var(--bg)) 0%,
        hsl(var(--bg) / 0.738) 19%,
        hsl(var(--bg) / 0.541) 34%,
        hsl(var(--bg) / 0.382) 47%,
        hsl(var(--bg) / 0.278) 56.5%,
        hsl(var(--bg) / 0.194) 65%,
        hsl(var(--bg) / 0.126) 73%,
        hsl(var(--bg) / 0.075) 80.2%,
        hsl(var(--bg) / 0.042) 86.1%,
        hsl(var(--bg) / 0.021) 91%,
        hsl(var(--bg) / 0.008) 95.2%,
        hsl(var(--bg) / 0.002) 98.2%,
        hsl(var(--bg) / 0) 100%
      );
      content: "";
      display: block;
      padding-right: var(--size__xxxl);
      position: sticky;
      right: 0;
      margin-left: calc(var(--size__xl) * -1);
      align-self: stretch;
      z-index: 100;
      [data-theme="dark"] & {
        --bg: 218deg 16% 8%;
      }
    }
  }
  &__item {
    --size: 50ch;
    animation: var(--animation);
    flex: 1 0 auto;
    max-width: var(--size);
    scroll-snap-align: center; // This is what actually centers things
    position: relative;
    transform: translateX(calc(var(--size__m) * -1));
    width: 100%;
    p:first-child {
      position: absolute;
      right: var(--size__xs);
      top: var(--size__xs);
      z-index: 2;
    }
  }
}

.grid {
  @media (max-width: 25rem) {
    --columnWidth: 10rem;
  }
  @media (min-width: 89rem) {
    --columnWidth: 35rem;
  }
  &__item {
    animation: var(--animation);
    max-width: 39rem;
    opacity: 0;
    transform: translateY(calc(var(--size__m) * -1));
  }
}

.project__header {
  animation: var(--animation);
  grid-column: 1/-1;
  opacity: 0;
  &--inner {
    background-color: hsl(var(--brand) / 0.125);
    border-color: hsl(var(--brand) / 0.25);
    @media (min-width: 29rem) {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 63rem) {
      --columnCount: 2;
    }
    h1,
    p {
      animation: var(--animation);
      transform: translateY(calc(var(--size__m) * -1));
    }
    p {
      animation-delay: 0.125s;
      &:nth-child(3) {
        animation-delay: 0.1875s;
      }
    }
    h1 {
      color: var(--color__base--ish);
    }
    a {
      svg {
        margin-left: var(--size__s);
        opacity: 0.5;
      }
    }
    figure {
      background-color: hsl(var(--brand));
      @media (min-width: 29rem) {
        padding-left: var(--size__m);
        padding-right: var(--size__m);
        padding-top: var(--size__m);
      }
      [data-theme="dark"] & {
        picture:first-child {
          display: none;
        }
        picture:last-child {
          display: block !important;
        }
      }
      img {
        animation: var(--animation);
        animation-delay: 0.125s;
        aspect-ratio: 1400 / 900;
        transform: scale(1.03125);
        @media (min-width: 29rem) {
          border-top-left-radius: var(--size__s);
          border-top-right-radius: var(--size__s);
        }
      }
    }
    > section {
      @media (max-width: 63rem) {
        border-top: var(--size__xxs) solid hsl(var(--brand) / 0.25);
      }
      @media (min-width: 29rem) {
        padding: var(--size__l);
      }
      @media (min-width: 63rem) {
        > * {
          margin-left: auto;
          margin-right: auto;
          max-width: var(--width__m);
          width: 100%;
        }
      }
      @media (min-width: 79rem) {
        > * + * {
          margin-top: var(--size__l) !important;
        }
      }
    }
  }
}

.project__detail--caption {
  @media (min-width: 29rem) {
    margin-left: calc(var(--size__m) * -1);
    margin-right: calc(var(--size__m) * -1);
  }
}

.process {
  animation: var(--animation);
  opacity: 0;
  transform: translateY(calc(var(--size__m) * -1));
  &:nth-of-type(2) {
    animation-delay: 0.125s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.25s;
  }
  &:nth-of-type(4) {
    animation-delay: 0.375s;
  }
  &:nth-of-type(5) {
    animation-delay: 0.5s;
  }
  header {
    @media (min-width: 29rem) {
      grid-template-columns: auto 1fr;
    }
  }
}

.tags {
  grid-column: 2;
}

.project__section {
  scroll-margin: calc(var(--size__xxxl) * 2.5);
}
