.profile {
  article > figure {
    clip-path: url(#blobby);
    max-width: var(--width__xs);
    @media (min-width: 79rem) {
      max-width: var(--width__s);
    }
    img {
      aspect-ratio: 1/1;
      width: 100%;
    }
  }
  .gallery__item {
    --outline__color: hsl(var(--brand) / 0.5);
    border-color: hsl(var(--brand) / 0.25);
    figure > section {
      background-color: hsl(var(--brand));
      @media (min-width: 29rem) {
        padding-left: var(--size__m);
        padding-right: var(--size__m);
        padding-top: var(--size__m);
      }
    }
    img {
      @media (min-width: 29rem) {
        border-top-left-radius: var(--size__s);
        border-top-right-radius: var(--size__s);
      }
    }
    figcaption {
      background-color: hsl(var(--brand) / 0.125);
      border-color: hsl(var(--brand) / 0.25);
    }
  }
}

.profile .gallery__item,
.projects .grid__item {
  img {
    .loaded & {
      transition: transform 0.375s ease-in;
    }
  }
  figcaption {
    h2,
    h3 {
      .loaded & {
        transition: color 0.375s ease-in;
      }
    }
    h3 {
      transform: translateY(calc(var(--size__xs) / 2));
    }
  }
}

.profile .gallery__item,
.projects .featured {
  overflow: hidden;
  &:focus-visible,
  &:hover {
    img {
      transform: scale(1.0125);
    }
  }
  [data-theme="dark"] & {
    picture:first-child {
      display: none;
    }
    picture:last-child {
      display: block !important;
    }
  }
  img {
    aspect-ratio: 1440 / 900;
  }
}

.projects .featured {
  --outline__color: hsl(var(--brand) / 0.5);
  background-color: hsl(var(--brand) / 0.125);
  border-color: hsl(var(--brand) / 0.25);
  .loaded & {
    transition: box-shadow 0.375s ease-in;
    .project__link {
      transition: color 0.375s ease-in;
    }
  }
  &:focus,
  &:hover {
    .project__link {
      color: var(--color__base--ish);
    }
  }
  figure {
    overflow: hidden;
    @media (min-width: 63rem) {
      grid-template-columns: 1fr 1fr;
    }
    > section {
      background-color: hsl(var(--brand));
      @media (min-width: 29rem) {
        padding-left: var(--size__m);
        padding-right: var(--size__m);
        padding-top: var(--size__m);
      }
    }
    img {
      @media (min-width: 29rem) {
        border-top-left-radius: var(--size__s);
        border-top-right-radius: var(--size__s);
      }
    }
  }
  figcaption {
    @media (max-width: 63rem) {
      border-top: var(--size__xxs) solid hsl(var(--brand) / 0.25);
    }
    @media (min-width: 29rem) {
      padding: var(--size__l);
      > * + * {
        margin-top: var(--size__l);
      }
    }
    @media (min-width: 63rem) {
      > * {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--width__m);
      }
    }
    h2 {
      font-size: var(--type__size--xxxl);
      font-weight: 800;
      line-height: var(--type__lineheight--xxxl);
      @media (min-width: 79rem) {
        font-size: var(--type__size--xxxxl);
        line-height: var(--type__lineheight--xxxxl);
      }
    }
  }
  .project__link {
    font-weight: 600;
    text-decoration-color: hsl(var(--brand) / 0.5);
    text-decoration-thickness: calc(var(--size__xxs) * 2);
    text-decoration-line: underline;
    text-underline-offset: var(--size__xs);
    svg {
      margin-left: var(--size__s);
      opacity: 0.5;
    }
  }
}

.projects .side {
  .loaded & {
    transition: background-color 0.375s ease-in;
  }
  figure {
    @media (min-width: 29rem) {
      grid-template-columns: auto 1fr;
    }
    @media (min-width: 79rem) {
      grid-gap: var(--size__l);
    }
  }
  &:focus-visible,
  &:hover {
    background-color: var(--color__highlight--ghost);
  }
  &:hover {
    img {
      transform: perspective(7.5rem) rotateY(-3deg) rotateX(1.5deg);
    }
  }
}

.projects {
  .grid {
    --columnWidth: 100%;
    grid-column: 1/-1;
    padding-left: var(--size__m);
    padding-right: var(--size__m);
    padding-top: 0;
    @media (min-width: 29rem) {
      --columnWidth: var(--width__s);
    }
    @media (min-width: 79rem) {
      --columnWidth: var(--width__m);
    }
    &__item {
      &.featured {
        grid-column: 1/-1;
        max-width: 100%;
      }
    }
  }
}

.detail {
  p a {
    --outline__color: hsl(var(--brand) / 0.5);
    text-decoration-color: hsl(var(--brand) / 0.5);
    &:focus,
    &:hover {
      color: var(--color__base--ish);
    }
    &:focus-visible {
      background-color: hsl(var(--brand) / 0.0625);
    }
  }
  hr {
    background-color: hsl(var(--brand) / 0.25);
  }
  .grid {
    background-color: hsl(var(--brand) / 0.125);
    border: var(--size__xxs) solid hsl(var(--brand) / 0.25);
    border-radius: var(--size__m);
    grid-column: 1/-1;
    justify-items: center;
    @media (max-width: 79rem) {
      max-width: calc(100vw - var(--size__xxl));
    }
    @media (min-width: 29rem) {
      --columnWidth: var(--width__s);
    }
    @media (min-width: 79rem) {
      --columnWidth: var(--width__m);
    }
    &__item {
      max-width: 100%;
      [data-theme="dark"] & {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block !important;
        }
      }
    }
  }
}

.error > figure + * {
  margin-top: var(--size__xxxl);
}

.cv {
  h3 + p {
    margin-top: 0 !important;
  }
  &__recommendations {
    grid-column: 1/-1;
    .grid {
      padding-bottom: 0;
      padding-top: 0;
      max-width: var(--width__xxl);
    }
    blockquote {
      &:first-child {
        grid-row: span 2;
      }
      > section > p {
        &:first-child:before,
        &:last-child:after {
          color: var(--color__highlight--mid);
          font-family: var(--type__family--secondary);
          font-size: var(--type__size--xl);
          font-weight: 700;
          line-height: var(--type__lineheight--m);
        }
        &:first-child:before {
          content: "“";
          margin-left: calc((var(--size__s) + var(--size__xs)) * -1);
        }
        &:last-child:after {
          content: "”";
        }
      }
    }
  }
}

.clients {
  .grid {
    grid-column: 1/-1;
  }
  .grid__item {
    transition: transform 0.375s ease-in;
    &:hover {
      transform: scale(1.0125);
    }
  }
}

.code {
  .grid {
    grid-column: 1/-1;
  }
  .grid__item {
    transition: transform 0.375s ease-in;
    &:hover {
      transform: scale(1.0125);
    }
  }
}

.agreement,
.invoice {
  blockquote {
    margin-left: calc(var(--size__l) * -1);
    padding-left: var(--size__l);
  }
}

.agreement {
  #signatures {
    > * + * {
      margin-top: var(--size__s);
    }
    svg {
      margin-left: calc(var(--type__size--m) * -1);
    }
    p:nth-child(3),
    p:last-child {
      border-top: var(--size__xxs) solid var(--color__base--mid);
    }
    p:nth-child(3) {
      margin-top: calc(var(--size__m) * -1);
    }
    p:last-child {
      margin-top: var(--size__xxl);
    }
  }
}

.invoice {
  h2 + p {
    font-size: var(--type__size--xl);
    line-height: clamp(2rem, var(--type__size--target), 2.5rem);
    margin-top: var(--size__m) !important;
  }
}

.colophon {
  --height: calc(100vh - var(--size__xxxl));
  display: none;
  grid-template-rows: auto 1fr;
  left: 50%;
  max-height: var(--height);
  max-width: calc(100vw - var(--size__l));
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 100;
  @media (min-width: 63rem) {
    max-width: var(--width__l);
  }
  &[open] {
    display: block;
  }
  a {
    font-weight: 600;
    text-decoration-color: var(--color__highlight--semi);
    text-decoration-thickness: calc(var(--size__xxs) * 2);
    text-decoration-line: underline;
    text-underline-offset: var(--size__xs);
  }
  button {
    --outline__offset: calc(var(--outline__size) * -1);
    transition: color 0.375s ease-in;
    &:focus,
    &:hover {
      color: var(--color__base--mid);
    }
    &:focus-visible {
      background-color: var(--color__highlight--ghost);
    }
  }
  > section {
    max-height: calc(var(--height) - var(--size__xxl));
    @media (min-width: 63rem) {
      --columnWidth: 25rem;
    }
  }
  > section section:first-child {
    grid-column: 1/-1;
    code {
      font-size: var(--type__size--xs);
      line-height: var(--type__linehight--xs);
    }
    > section {
      --columnWidth: 15rem;
      column-gap: var(--size__l);
      row-gap: var(--size__s);
    }
  }
}
