@media print {
  html {
    box-shadow: none;
    font-size: 75%;
  }
  body > header {
    padding-top: 0;
    position: relative;
    nav {
      > section {
        display: none !important;
      }
      &:after {
        content: "jaredpdesigns@gmail.com • 503-474-7437";
        display: inline-flex;
        font-size: var(--type__size--s);
      }
    }
  }
  body > footer {
    display: none !important;
  }
  main {
    padding: var(--size__l) 0;
  }
  article {
    > * + h1,
    > h1 + *,
    > * + h2,
    > h2 + *,
    > * + h3,
    > * + hr {
      margin-top: var(--size__l) !important;
    }
  }
  li + li,
  ol ol {
    margin-top: var(--size__m);
  }

  hr {
    display: inline-block;
    border-top: var(--size__xs) solid var(--color__highlight--semi);
  }
  #signatures {
    display: block;
    page-break-after: always;
    position: relative;
  }
  .cv__recommendations > .grid {
    grid-template-columns: none;
    grid-gap: calc(var(--size__xxxl) * 2);
    blockquote {
      box-shadow: none;
      &:last-child {
        margin-top: calc(var(--size__xxxl) * -1);
      }
    }
  }
}
