@media print {
  html {
    box-shadow: none;
    font-size: 75%;
    print-color-adjust: exact;
  }
  body > header {
    padding-top: 0;
    position: relative;
    nav {
      > section {
        display: none !important;
      }
      &:after {
        content: "jaredpdesigns@gmail.com • 503-474-7437";
        display: inline-flex;
        font-size: var(--type__size--s);
      }
    }
  }
  body > footer {
    display: none !important;
  }
  main {
    padding: var(--size__l) 0;
  }
  article {
    > * + h1,
    > h1 + *,
    > * + h2,
    > h2 + * {
      margin-top: var(--size__m) !important;
    }
    > * + hr,
    > * + h3 {
      margin-top: var(--size__l) !important;
    }
    h3 + p {
      margin-top: 0 !important;
    }
  }
  li + li,
  ol ol {
    margin-top: 0 !important;
  }

  hr {
    display: inline-block;
    border-top: var(--size__xs) solid var(--color__highlight--semi);
  }
  #signatures {
    display: block;
    page-break-after: always;
    position: relative;
  }
  .cv__recommendations > .grid {
    grid-gap: var(--size__xl);
    grid-template-columns: 1fr min(75ch, calc(100% - var(--size__l) * 2)) 1fr;
    margin-top: var(--size__xl);
    blockquote {
      grid-column: 2;
      box-shadow: none;
      &:first-child {
        margin-bottom: calc(var(--size__xxxl) * 2);
      }
    }
  }
  #capabilities + ul,
  #philosophies + ul,
  #technologies + ul {
    display: grid;
    grid-column-gap: var(--size__xxxl);
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr;
  }
  #technologies + ul {
    li:last-child {
      grid-column: 1/-1;
    }
  }
  #otto-health {
    page-break-before: always;
  }
  .cv hr:nth-of-type(6) {
    margin-top: calc(var(--size__xxxl) * 2) !important;
  }
}
