// Typography

.wf-gtpressura-n4-loading { body, .btn, .resume__text blockquote strong { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif } }
.wf-gtsectra-n4-loading { p, li, .name, .btn:after { font-family: Georgia, Times, 'Times New Roman', serif; } }
.wf-gtcinetypemono-n4-loading { code { font-family: monospace; } }

@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/gt-sectra/GT-Sectra-Book.eot');
  src: url('../fonts/gt-sectra/GT-Sectra-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-sectra/GT-Sectra-Book.woff') format('woff'),
       url('../fonts/gt-sectra/GT-Sectra-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/gt-sectra/GT-Sectra-Book-Italic.eot');
  src: url('../fonts/gt-sectra/GT-Sectra-Book-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-sectra/GT-Sectra-Book-Italic.woff') format('woff'),
       url('../fonts/gt-sectra/GT-Sectra-Book-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/gt-sectra/GT-Sectra-Bold.eot');
  src: url('../fonts/gt-sectra/GT-Sectra-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-sectra/GT-Sectra-Bold.woff') format('woff'),
       url('../fonts/gt-sectra/GT-Sectra-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/gt-sectra/GT-Sectra-Bold-Italic.eot');
  src: url('../fonts/gt-sectra/GT-Sectra-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-sectra/GT-Sectra-Bold-Italic.woff') format('woff'),
       url('../fonts/gt-sectra/GT-Sectra-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Light.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Light.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Light-Italic.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Light-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Light-Italic.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Light-Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Regular.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Regular.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Regular-Italic.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Regular-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Regular-Italic.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Regular-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Bold.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Bold.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GT Pressura';
  src: url('../fonts/gt-pressura/GT-Pressura-Bold-Italic.eot');
  src: url('../fonts/gt-pressura/GT-Pressura-Bold-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-pressura/GT-Pressura-Bold-Italic.woff') format('woff'),
       url('../fonts/gt-pressura/GT-Pressura-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'GT Cinetype Mono';
  src: url('../fonts/gt-cinetype/GT-Cinetype-Mono.eot');
  src: url('../fonts/gt-cinetype/GT-Cinetype-Mono.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gt-cinetype/GT-Cinetype-Mono.woff') format('woff'),
       url('../fonts/gt-cinetype/GT-Cinetype-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html { font-size: 100%; }

::selection {
  background-color: $color-highlight;
  color: $color-luma;
  text-shadow: none;
}

body {
  @include type-sans;
  color: $color-base;
  border: $border-huge $color-luma;
  border-top-width: 0;
  background-color: $color-base-ghost;
}

h1, h2, h3, h4, h5, p, ul, ol, hr, pre, .highlighter-rouge {
  + * { @include oomph; }
}

h1 {
  @include type-xxl;
  font-weight: 100;
  + h2 { margin-top: 0; }
  + p { @include oomph-small; }
}

h2 {
  @include type-xl;
  font-weight: 100;
}

h3 {
  @include type-l;
  font-weight: normal;
  @include type-caps; 
}

p {
  @include type-serif;
  @include type-ot-numbers-old;
}

p, h4, li { @include type-m; }

h4 {
  @include type-caps;
  color: $color-highlight;
}

h5 {
  @include type-s;
  @include type-caps;
  font-weight: normal;
}

b, strong { @include type-bold; }

i, em { @include type-italic; }

abbr { @include type-ot-all-small; }

// Type positioning

.type__align--left { @include type-left; }

.type__align--center { @include type-center; }

.type__align--right { @include type-right; }

.type__align--inline { @include inline; }

.type__size--legible { @include type-legible; }

// Code Styling

code {
  @include type-mono;
  @include type-xs;
  pre & {
    white-space: pre;
    word-wrap: normal;
    @include type(12,1);
    @include bp(xs) {
      @include type(10,1);
    }
  }
}

p code {
  padding: 0.125rem 0.25rem;
  background-color: $color-luma;
  border-radius: $space-xs/2;
  border: $border $color-base-light;
  @include bp(ml) {
    padding: 0.125rem $space-xs;
  }
}

pre {
  background-color: $color-luma;
  border-radius: $space-xs/2;
  border: $border $color-base-light;
  overflow-x: auto;
  padding: $space-s;
}

.highlight {
  .m, .mi, .n, .nf, .nv, .nd, .s1, .o + .nt { color: $color-highlight; }
  .k, .kd, .o, .nb, .nt, .err, .nx { color: $color-base-ish; }
  .p { color: $color-base-mid; }
}

// List Items

li {
  @include type-serif;
  @include oomph-small;
}
ol, ul {
  list-style-position: outside;
  padding-left: $space-m;
  @include bp(m) { padding-left: 0; }
}
ol li {
  list-style-type: decimal;
  ol { padding-left: $space-m; }
  ol li { list-style-type: lower-latin; }
  li ol li { list-style-type: lower-roman; }
}
ul li {
  list-style-type: square;
  ul { padding-left: $space-m; }
  ul li { list-style-type: circle; }
}

// Colors

.color {
  &__bg {
    &--base { background-color: $color-base; }
    &--base-dark { background-color: $color-base-dark; }
    &--base-ish { background-color: $color-base-ish; }
    &--base-mid { background-color: $color-base-mid; }
    &--base-light { background-color: $color-base-light; }
    &--base-ghost { background-color: $color-base-ghost; }
    &--highlight { background-color: $color-highlight; }
    &--highlight-dark { background-color: $color-highlight-dark; }
    &--highlight-ish { background-color: $color-highlight-ish; }
    &--highlight-mid { background-color: $color-highlight-mid; }
    &--highlight-light { background-color: $color-highlight-light; }
    &--highlight-ghost { background-color: $color-highlight-ghost; }
    &--luma { background-color: $color-luma; }
  }
  &__type {
    &--base { color: $color-base; }
    &--base-dark { color: $color-base-dark; }
    &--base-ish { color: $color-base-ish; }
    &--base-mid { color: $color-base-mid; }
    &--base-light { color: $color-base-light; }
    &--base-ghost { color: $color-base-ghost; }
    &--highlight { color: $color-highlight; }
    &--highlight-dark { color: $color-highlight-dark; }
    &--highlight-ish { color: $color-highlight-ish; }
    &--highlight-mid { color: $color-highlight-mid; }
    &--highlight-light { color: $color-highlight-light; }
    &--highlight-ghost { color: $color-highlight-ghost; }
    &--luma { color: $color-luma; }  
  }
}

// Page Structure

a {
  @include smooth;
  &:hover { color: $color-highlight; }
  p & {
    border-bottom: $border $color-highlight-mid;
    &:hover { border-color: $color-highlight-ish; }
  }
}

p a[href*="http"]:after {
  content: "\2197";
  margin-left: $space-xs/2;
  color: $color-highlight;
}

figure {
	position:relative;
	img, video, iframe, object { max-width: 100%; height: auto; }
	&.video-holder {
  	  height: 0;
  	  padding-bottom: 56.25%;
  	  iframe, object { @include fill; }
  }
}

img { max-width: 100%; }

img.lazy {
  @include smooth;
  opacity: 0;
  transform: translateY(-$space-xs);
}

.loaded img, .loaded, .project__inner--content * {
  background-image: none !important;
  opacity: 1;
  transform: translateY(0);
}

hr {
  width: $space-m;
  margin-left: auto;
  margin-right: auto;
  border-top: $border $color-highlight-mid;
  @include bp(ml) { width: $space-l; }
}

button, input[type="submit"], .btn {
  @include type-sans;
  @include type-xs;
  @include type-caps;
  @include type-bold;
  @include inline;
  @include smooth;
  padding: 0 $space-xs;
  border-radius: $space-xs;
  border: $border $color-highlight-mid;
  background-color: $color-luma;
  color: $color-highlight;
  transform: translate3d(0,0,0);
  @include bp(s) { padding: 0 $space-s; }
  @include bp(ml) { padding: $space-xs/2 $space-s; }
  &:after {
    content: '→';
    @include type-serif;
    margin-left: $space-xs;
    font-weight: bold;
    display: inline-block;
    @include smooth-pop;
  }
  &:hover { border-color: $color-highlight-ish; }
  &:hover:before { transform: translateX(-$space-xs/2); }
  &:hover:after { transform: translateX($space-xs/2); }
}

.btn-left {
  &:before {
    content: '←';
    @include type-serif;
    margin-right: $space-xs;
    font-weight: bold;
    display: inline-block;
    @include smooth-pop;
  }
  &:after { content: none; }
}

.btn--secondary {
  background-color: $color-luma-ghost-o;
  border-color: $color-luma-ghost-o;
  transform: translate3d(0,0,0);
  &:hover { border-color: $color-luma-light-o; }
}

header[role="main"] {
  background-color: $color-luma;
  @include bp(m) {
    position: fixed;
    top: -$space-xs;
    width: 100%;
    z-index: 1000;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .name {
    @include type-m;
    @include type-serif;
    @include bp(xs) {
      flex-basis: 100%;
      @include type-center;
    }
    @include bp(xsl) { flex-basis: auto; }
  }
}

footer[role="extra"] {
  background-color: $color-luma;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.day-night {
  cursor: pointer;
  display: block;
  path { @include smooth-pop; }
  &.is-night {
    .moon {
      opacity: 0;
      transform: translateX(-$space-s);
    }
    .sun {
      opacity: 1 !important;
      transform: translateX(0) !important;
    }
  }
}

main > *:first-child:before {
  @include bp(m) {
    content: '';
    display: block;
    height: 3.375rem;
  }
}

nav[role="main"] {
  display: flex;
  align-items: center;
  margin-top: 0;
  @include bp(xs) {
    flex-basis: 100%;
    justify-content: space-between;
  }
  @include bp(xsl) {
    flex-basis: auto;
  }
  a {
    @include type-xs;
    @include type-caps;
    color: $color-base-mid;
    @include bp(xsl) { @include inline; }
    &:hover { color: $color-highlight; }
    &.active { color: $color-highlight; }
  }
  a.social {
    display: inline-flex;
    align-items: center;
  }
  svg {
    height: $space-m;
    width: $space-m;
  }
}

nav[role="extra"] {
  display: flex;
  align-items: center;
  margin: 0 $space-xs;
  a {
    display: inline-flex;
    align-items: center;
    @include type-xs;
    @include type-caps;
    color: $color-base-mid;
    margin: 0 $space-xs;
    &:hover { color: $color-highlight; }
    &.active { color: $color-highlight; }
  }
  svg {
    height: $space-s + $space-xs;
    width: $space-s + $space-xs;
    @include bp(s) {
      height: $space-m;
      width: $space-m;
    }
  }
}

.wrapper {
  max-width: 60em;
	margin: 0 auto;
	padding: $space-m;
	@include bp(l) {
  	  max-width: 75em;
  	  padding-top: $space-l;
  	  padding-bottom: $space-l;
  }
	@include bp(xl) {
  	  max-width: 85em;
  	  padding-top: $space-xl;
  	  padding-bottom: $space-xl;
  }
  &--bleed {
    max-width: 100%;
    @include bp(ml) { max-width: 87.5%; }
    @include bp(xl) { max-width: 75%; }
  }
  &--short {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
    @include bp(s) {
      padding-top: $space-s;
      padding-bottom: $space-s;
    }
  }
}

.biggie {
  padding: $space-l 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  @include bp(m) { padding: $space-xl 0; }
  @include bp(xl) { padding: $space-xl*2 0; }
}

header[role="break"] {
  @include type-center;
  h3 {
    color: $color-base-ish;
    @include oomph-small;
    + h5 {
      margin-top: 0;
      color: $color-base-mid;
    }
    + hr, + h5 + hr { @include oomph-small; }
  }
  + * { @include oomph-big; }
}