.dark {
  body {
    background-color: $color-base-dark;
    color: $color-luma;
    border-color: $color-base;
  }
  header[role="main"], footer[role="extra"], .project__inner--footer, #process, p code, pre {
    background-color: $color-base;
  }
  nav[role="main"] a, nav[role="extra"] a {
    color: $color-luma-ish-o;
    &:hover { color: $color-highlight; }
  }
  .profile img { border-color: $color-base; }
  .profile h2, header[role="break"] h3, .project__text p, .process__text p, .side__text p, .project__inner--content blockquote em, .client p + h5, .consulting h3, .invoice h3, .consulting h2, .invoice h2, .consulting h5, .invoice h5, .styleguide hr + h3 {
    color: $color-luma-ish-o;
  }
  header[role="break"] h3 + h5, .highlight .p {
    color: $color-luma-mid-o;
  }
  p code, #colors + hr + ul li code, pre, .consulting h4 + *, .styleguide [class^="color__bg--"] { border-color: $color-base-ish; }
  .highlight { .k, .kd, .o, .nb, .nt, .err, .nx { color: $color-luma-ish-o; } }
  .process__img svg .darkest { fill: $color-base-dark; }
  img {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}