@media print {
  html { border: none; font-size: 62.5%; }
  body { margin: 0 auto; background: none !important; }
  * { color: black !important; }
  header[role="main"]{
    position: relative;
    border-bottom: 1px solid #CCC;
    &:after {
      content: 'jaredpendergraft.com • jaredpdesigns@gmail.com • 503-474-7437';
      position: absolute;
      top: 2rem;
      right: 0;
      @include type-sans;
    }
    & .wrapper { padding: $space-m $space-s !important; }
    & nav[role="main"] { display: none; }
  }
  hr { border-width: 1px; }
  blockquote { padding: $space-s $space-m; }
  p a { color: black; border-bottom: 1px solid; }
  .resume main > .wrapper {
    padding-top: $space-m;
    > * + * { margin-top: $space-s; }
    li + li { margin-top: 0; }
    > * { max-width: 100%; }
    header { display: none; }
    h3, h4 { margin-top: $space-m; }
    hr {
      border-color: #CCC;
      + h3 { color: #666; }
      + h3, + h3 + hr { margin-top: $space-xs; }
      &:nth-of-type(7), &:nth-of-type(11) { page-break-before: always; }
    }
    blockquote:before {
      color: #666;
      border: 1px solid #CCC;
    }
  }
  .consulting {
    hr:first-of-type { page-break-before: always; }
  }
}