@layer pasta, project, page, components;

@import url("https://unpkg.com/@jaredpdesigns/pasta") layer(pasta);

@layer project {
  :root {
    --maxWidth: var(--width__l);
    --outline__offset: var(--size__xs);
    --outline__size: calc(var(--size__xxs) * 2);
    --outline__style: dotted;
    --type__family--primary: "degular-variable", sans-serif;
    --transition: cubic-bezier(0.5, -0.1, 0.1, 1.5);
    --bleed: 0;

    @media (min-width: 60rem) {
      --bleed: calc(var(--size__l) * -1);
    }

    @media (min-width: 120rem) {
      --maxWidth: var(--width__l);
    }
  }

  body {
    align-items: start;
    display: grid;
    font-variation-settings: 'opsz' 6;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100vh;

    >header,
    >footer {
      >section {
        inline-size: 100%;
        max-inline-size: var(--maxWidth);
        padding-inline-start: calc(var(--size__l) + env(safe-area-inset-left));
        padding-inline-end: calc(var(--size__l) + env(safe-area-inset-right));
      }
    }

    >header {
      border-block-start-color: var(--color__highlight);
      border-block-start-width: var(--size__xs);
      padding-block-start: env(safe-area-inset-top);
      position: sticky;
      top: 0;
      z-index: 1;

      @supports (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 25%);
        backdrop-filter: blur(32px);
      }

      @supports not (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 2%);
        ;
      }

      nav {
        @media (min-width: 30rem) {
          justify-content: space-between;
        }

        >a:first-child {
          @media (max-width: 30rem) {
            inline-size: 100%;
          }
        }

        a {
          text-decoration: unset;

          &:focus-visible,
          &:hover {
            color: var(--color__base);
          }

          &[aria-current="page"] {
            color: var(--color__base);
            text-decoration-color: var(--color__highlight--semi);
            text-decoration-thickness: calc(var(--size__xxs) * 2);
            text-decoration-line: underline;
            text-underline-offset: var(--size__xs);
            text-decoration-style: wavy;
          }
        }

        button {

          &:hover,
          &:focus-visible {
            color: var(--color__base);
            opacity: 1;
          }

          &:focus-visible {
            background-color: var(--color__highlight--ghost);
          }
        }
      }
    }

    >main>article {
      display: grid;
      inline-size: 100%;
      margin-inline: auto;
      max-inline-size: var(--maxWidth);
      padding-block: var(--size__l);
      padding-inline-start: calc(var(--size__l) + env(safe-area-inset-left));
      padding-inline-end: calc(var(--size__l) + env(safe-area-inset-right));

      @media(min-width: 60rem) {
        padding-block: var(--size__xxxl);
      }

      >* {
        min-inline-size: 0;
        scroll-margin-top: calc(var(--size__xxxl) * 2);

        +* {
          margin-block-start: var(--size__l);
        }

        +hr {
          margin-block-start: var(--size__xxxl);
        }
      }

      >p:empty {
        display: none;
      }
    }
  }

  em {
    font-style: normal;
    font-variation-settings: 'opsz' 6, 'ital' 1, 'wght' 400;
  }

  strong,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    font-variation-settings: 'opsz' 6, 'wght' 600;

    em {
      font-variation-settings: 'opsz' 6, 'wght' 600, 'ital' 1;
    }
  }

  h2,
  h3,
  h4,
  h5 {
    font-variation-settings: 'opsz' 12, 'wght' 600;

    em {
      font-variation-settings: 'opsz' 12, 'wght' 600, 'ital' 1;
    }
  }

  h1 {
    font-size: var(--type__size--xxxl);
    font-weight: 700;
    font-variation-settings: 'opsz' 48, 'wght' 700;
    line-height: var(--type__lineheight--xxxl);

    @media (min-width: 79rem) {
      font-size: var(--type__size--xxxxl);
      line-height: var(--type__lineheight--xxxxl);
    }

    em {
      font-variation-settings: 'opsz' 48, 'wght' 700, 'ital' 1;
    }

    &:not(*[class^="color__type"]) {
      color: var(--color__highlight);
    }
  }

  h2,
  h3,
  h4,
  h5 {
    &:not(*[class^="color__type"]) {
      color: var(--color__base--ish);
    }
  }

  code,
  pre {
    --color__primary: hsl(260, 64%, 75%);
    --color__secondary: hsl(190, 64%, 75%);
    --color__tertiary: hsl(158, 90%, 75%);
  }

  code:not(pre code) {
    word-wrap: unset;
  }

  blockquote {
    --color__border: var(--color__highlight--light);
    border-radius: var(--size__l);
    box-shadow: none;
    margin-inline: var(--bleed);
    padding: var(--size__l);

    p a {
      text-decoration-color: var(--color__highlight--mid);

      &:hover,
      &:focus-visible {
        background-color: var(--color__contrast);
        text-decoration-color: var(--color__highlight--mid);
      }
    }
  }

  a {
    border-radius: var(--size__xs);
    text-decoration-style: wavy;
  }
}

@layer page {
  .profile article {
    grid-template-columns: minmax(calc(var(--size__l) + env(safe-area-inset-left)), 1fr) minmax(0, var(--maxWidth)) minmax(calc(var(--size__l) + env(safe-area-inset-left)), 1fr);
    max-inline-size: unset;
    padding-inline: 0;

    >*:not(.gallery) {
      grid-column: 2;
    }
  }
}

@layer components {
  .colophon {
    inline-size: calc(100% - var(--size__l));
    margin: auto;
    max-block-size: calc(100% - var(--size__l));
    max-inline-size: var(--maxWidth);
    position: fixed;

    >section>header {
      inset-block-start: 0;
      position: sticky;
    }
  }

  .gallery {
    --overlay:
      color-mix(in srgb, var(--color__set--contrast), transparent 100%),
      color-mix(in srgb, var(--color__set--contrast), transparent 80%),
      color-mix(in srgb, var(--color__set--contrast), transparent 75%),
      color-mix(in srgb, var(--color__set--contrast), transparent 62.5%),
      color-mix(in srgb, var(--color__set--contrast), transparent 50%),
      color-mix(in srgb, var(--color__set--contrast), transparent 38%),
      color-mix(in srgb, var(--color__set--contrast), transparent 25%),
      color-mix(in srgb, var(--color__set--contrast), transparent 12%),
      color-mix(in srgb, var(--color__set--contrast), transparent 10%),
      color-mix(in srgb, var(--color__set--contrast), transparent 5%),
      color-mix(in srgb, var(--color__set--contrast), transparent 2%),
      color-mix(in srgb, var(--color__set--contrast), transparent 0%);
    grid-template-columns: inherit;
    grid-column: 1/-1;

    >section:first-child {
      grid-column: 2;
    }

    &__meta {
      margin-inline: var(--bleed);
    }

    &__images {
      grid-column: 1 / -1;
      grid-template-columns: inherit;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      position: relative;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &:before {
        background-image: linear-gradient(to left, var(--overlay));
        block-size: 100%;
        content: "";
        display: block;
        inline-size: var(--size__m);
        padding: var(--size__s);
        position: sticky;
        inset-inline-start: 0;
        z-index: 2;
      }

      &::-webkit-scrollbar {
        display: none;
        inline-size: 0 !important;
      }

      &--wrap {
        grid-column: 2;
        margin-inline-start: var(--bleed);
        scroll-snap-align: center;

        &:after {
          background-image: linear-gradient(to right, var(--overlay));
          block-size: 100%;
          content: "";
          display: block;
          inline-size: var(--size__m);
          padding: var(--size__s);
          position: sticky;
          inset-inline-end: 0;
          z-index: 2;
        }

        &>* {
          flex: 1 0 auto;
          inline-size: 50ch;
          max-inline-size: 100%;
          position: relative;
          scroll-margin-inline-start: var(--size__m);
          scroll-snap-align: start;
        }

        label {
          >* {
            grid-area: 1 / 1;
          }

          >span {
            margin-block-end: 3.75rem;
          }

          input {
            block-size: 100%;
            inline-size: 100%;
          }

          img {

            &:first-of-type {
              [data-theme="dark"] & {
                display: none;
              }
            }

            &:last-of-type {
              [data-theme="light"] & {
                display: none;
              }
            }
          }

          p:last-child {
            align-self: end;
            margin-block-start: 3.75rem;
          }
        }
      }
    }
  }

  .process {
    container-type: inline-size;
    grid-template-columns: 4rem 1fr;

    @container (min-width: 40rem) {
      column-gap: var(--size__l);
    }

    h3,
    p {
      margin-top: unset;
    }

    p {
      grid-column: 1/-1;

      @container (min-width: 40rem) {
        grid-column: 2;
      }
    }

  }

  .profile__img {
    aspect-ratio: 640/854;
    clip-path: url(#blobby);
    max-inline-size: var(--width__xs);

    &:hover img {
      transform: scale(1.0625);
    }

    img {
      animation: var(--animation);
      inline-size: 100%;
      transform: scale(1.0125);
      transition: transform 0.75s var(--transition);
    }
  }

  .profile__wrap {
    container-type: inline-size;

    @container (min-width: 40rem) {
      >span {
        column-gap: var(--size__l);
        grid-template-columns: auto 1fr;
      }
    }
  }

  .reccommendation {
    padding-block-start: var(--size__m);
    padding-block-end: unset;
    padding-inline: unset;

    >p {
      padding-inline: var(--size__l);

      &:first-child:before,
      &:last-of-type:after {
        color: var(--color__highlight);
        display: inline-block;
        font-size: var(--type__size--xl--fluid);
        transform: translateY(0.25ch);
      }

      &:first-child:before {
        content: "“";
        margin-inline-start: -0.625ch;
        margin-inline-end: 0.125ch;
      }

      &:last-of-type:after {
        content: "”";
        margin-inline-start: 0.125ch;
      }
    }
  }
}