@layer pasta, project, page, typography, components;

@import url("https://unpkg.com/@jaredpdesigns/pasta") layer(pasta);

@layer project {
  :root {
    --gutter: calc(var(--size__l) + env(safe-area-inset-left));
    --maxWidth: var(--width__l);
    --outline__offset: var(--size__xs);
    --outline__size: calc(var(--size__xxs) * 2);
    --outline__style: dotted;
    --type__family--primary: articulat-cf, sans-serif;
    --type__family--secondary: argent-cf, serif;
    --type__family--tertiary: cartograph-cf, monospace;
    --transition: cubic-bezier(0.5, -0.1, 0.1, 1.5);
    --bleed: 0;

    @media (min-width: 60rem) {
      --bleed: calc(var(--size__l) * -1);
    }
  }

  body {
    align-items: start;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-block-size: 100vh;

    >header {
      border-block-start-color: var(--color__highlight);
      border-block-start-width: var(--size__xs);
      padding-block-start: env(safe-area-inset-top);
      padding-inline: var(--gutter);
      position: sticky;
      top: 0;
      z-index: 1;

      @supports (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 25%);
        backdrop-filter: blur(32px);
      }

      @supports not (backdrop-filter: blur(32px)) {
        background-color: color-mix(in srgb, var(--color__set--contrast), transparent 2%);
        ;
      }

      >section {
        inline-size: 100%;
        margin-inline: auto;
        max-inline-size: var(--maxWidth);
      }

      nav {
        @media (min-width: 30rem) {
          justify-content: space-between;
        }

        >a:first-child {
          @media (max-width: 30rem) {
            inline-size: 100%;
          }

          p {
            inline-size: 100%;
          }
        }

        a {
          text-decoration: unset;

          &:focus-visible,
          &:hover {
            color: var(--color__base);
          }

          &[aria-current="page"] {
            color: var(--color__base);
            text-decoration-color: var(--color__highlight--semi);
            text-decoration-thickness: calc(var(--size__xxs) * 2);
            text-decoration-line: underline;
            text-underline-offset: var(--size__xs);
            text-decoration-style: wavy;
            text-decoration-skip-ink: none;
          }
        }

        button {

          &:hover,
          &:focus-visible {
            color: var(--color__base);
            opacity: 1;
          }

          &:focus-visible {
            background-color: var(--color__highlight--ghost);
          }
        }
      }
    }

    >main {
      block-size: 100%;
      overflow: clip;
    }

    >main>article {
      display: grid;
      inline-size: 100%;
      margin-inline: auto;
      max-inline-size: calc(var(--maxWidth) + (var(--gutter) * 2));
      padding-block: var(--size__l);
      padding-inline: var(--gutter);

      @media(min-width: 60rem) {
        padding-block: var(--size__xxxl);
      }

      >* {
        min-inline-size: 0;
        scroll-margin-top: calc(var(--size__xxxl) * 2);

        +* {
          margin-block-start: var(--size__l);
        }

        +hr {
          margin-block-start: var(--size__xxxl);
        }
      }

      >p:empty {
        display: none;
      }
    }
  }
}

@layer typography {
  body {
    font-optical-sizing: auto;
    font-style: normal;
  }

  h1,
  h2,
  h4,
  h5 {
    font-family: var(--type__family--secondary);
    font-weight: 800;
  }

  h1 {
    font-size: var(--type__size--xxxl);
    letter-spacing: -0.10625rem;
    line-height: var(--type__lineheight--xxxl);

    @media (min-width: 79rem) {
      font-size: var(--type__size--xxxxl);
      line-height: var(--type__lineheight--xxxxl);
    }

    &:not(*[class^="color__type"]) {
      color: var(--color__highlight);
    }
  }

  h2 {
    letter-spacing: -0.03125rem;
  }

  h2,
  h3,
  h4,
  h5 {
    &:not(*[class^="color__type"]) {
      color: var(--color__base--ish);
    }
  }

  code,
  pre {
    --color__primary: hsl(260, 64%, 75%);
    --color__secondary: hsl(190, 64%, 75%);
    --color__tertiary: hsl(158, 90%, 75%);
  }

  code:not(pre code) {
    word-wrap: unset;
  }

  pre code .comment {
    font-style: italic;
  }

  blockquote {
    --color__bg: var(--color__base--ghost);
    --color__border: transparent;
    border-radius: var(--size__l);
    box-shadow: none;
    margin-inline: var(--bleed);
    padding: var(--size__l);

    p a {
      text-decoration-color: var(--color__highlight--mid);

      &:hover,
      &:focus-visible {
        background-color: var(--color__contrast);
        text-decoration-color: var(--color__highlight--mid);
      }
    }
  }

  a:not([class]),
  .gallery__meta a,
  dialog a {
    border-radius: var(--size__xs);
    display: inline-flex;
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
  }
}

@layer page {
  .profile article {
    grid-template-columns: minmax(calc(var(--size__l) + env(safe-area-inset-left)), 1fr) minmax(0, var(--maxWidth)) minmax(calc(var(--size__l) + env(safe-area-inset-left)), 1fr);
    max-inline-size: unset;
    padding-inline: 0;

    >*:not(.gallery) {
      grid-column: 2;
    }
  }

  .hire article {
    --gap: var(--size__l);

    @media (min-width: 60rem) {
      --gap: calc((var(--bleed) * 3) * -1);
    }

    .process {
      min-inline-size: 0;

      &__wrap {
        column-gap: var(--gap);
        row-gap: var(--size__l);
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      }
    }
  }

  .cv article {

    >p,
    >ul li {
      max-inline-size: 65ch;
    }
  }
}

@layer components {
  .colophon {
    inline-size: calc(100% - var(--size__l));
    margin: auto;
    max-block-size: calc(100% - var(--size__l));
    max-inline-size: 40rem;
    position: fixed;

    >section>header {
      inset-block-start: 0;
      position: sticky;
    }

    footer p:last-child svg {
      transform: translateY(calc((var(--size__xxs) * 2) * -1));
    }
  }

  .gallery {
    --overlay:
      color-mix(in srgb, var(--color__set--contrast), transparent 100%),
      color-mix(in srgb, var(--color__set--contrast), transparent 80%),
      color-mix(in srgb, var(--color__set--contrast), transparent 75%),
      color-mix(in srgb, var(--color__set--contrast), transparent 62.5%),
      color-mix(in srgb, var(--color__set--contrast), transparent 50%),
      color-mix(in srgb, var(--color__set--contrast), transparent 38%),
      color-mix(in srgb, var(--color__set--contrast), transparent 25%),
      color-mix(in srgb, var(--color__set--contrast), transparent 12%),
      color-mix(in srgb, var(--color__set--contrast), transparent 10%),
      color-mix(in srgb, var(--color__set--contrast), transparent 5%),
      color-mix(in srgb, var(--color__set--contrast), transparent 2%),
      color-mix(in srgb, var(--color__set--contrast), transparent 0%);
    grid-template-columns: inherit;
    grid-column: 1/-1;

    >section:first-child {
      grid-column: 2;
    }

    &__meta {
      margin-inline: var(--bleed);
    }

    &__images {
      grid-column: 1 / -1;
      grid-template-columns: inherit;
      overflow-x: scroll;
      overscroll-behavior-x: contain;
      position: relative;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;

      &:before {
        background-image: linear-gradient(to left, var(--overlay));
        block-size: 100%;
        content: "";
        display: block;
        inline-size: var(--size__m);
        padding: var(--size__s);
        position: sticky;
        inset-inline-start: 0;
        z-index: 2;
      }

      &::-webkit-scrollbar {
        display: none;
        inline-size: 0 !important;
      }

      &--wrap {
        grid-column: 2;
        margin-inline-start: var(--bleed);
        scroll-snap-align: center;

        &:after {
          background-image: linear-gradient(to right, var(--overlay));
          block-size: 100%;
          content: "";
          display: block;
          inline-size: var(--size__m);
          padding: var(--size__s);
          position: sticky;
          inset-inline-end: 0;
          z-index: 2;
        }

        &>* {
          flex: 1 0 auto;
          inline-size: 50ch;
          max-inline-size: 100%;
          position: relative;
          scroll-margin-inline-start: var(--size__m);
          scroll-snap-align: start;
        }

        label {
          @media (prefers-reduced-motion: no-preference) {
            @supports (animation-timeline: view()) {
              @keyframes reveal {
                from {
                  opacity: 0;
                  scale: .90;
                }
              }

              animation: reveal linear both;
              animation-timeline: view(inline);
              animation-range: 25vh 75vh;
            }
          }

          &:focus-within {
            opacity: 1;
            scale: 1;
          }

          >* {
            grid-area: 1 / 1;
          }

          >span {
            margin-block-end: 3.75rem;
          }

          input {
            block-size: 100%;
            inline-size: 100%;
          }

          img {

            &:first-of-type {
              [data-theme="dark"] & {
                display: none;
              }
            }

            &:last-of-type {
              [data-theme="light"] & {
                display: none;
              }
            }
          }

          p:last-child {
            align-self: end;
            margin-block-start: 3.75rem;
          }
        }
      }
    }
  }

  .gallery-sides {
    --column__width: 320px;

    a {
      color: var(--color__base);
      text-decoration: unset;
      transition: 0.375s var(--transition);
      transition-property: transform;

      @media(min-width: 600px) {
        grid-template-columns: auto 1fr;
      }

      &:hover {
        transform: scale(1.00625);
      }
    }

    svg {
      border-radius: var(--size__m);
    }
  }

  .process {
    container-type: inline-size;
    grid-template-columns: 4rem 1fr;

    @container (min-width: 40rem) {
      column-gap: var(--size__l);
    }

    h3,
    p {
      margin-top: unset;
    }

    p {
      grid-column: 1/-1;

      @container (min-width: 40rem) {
        grid-column: 2;
      }
    }

  }

  .profile__img {
    aspect-ratio: 640/854;
    clip-path: url(#blobby);
    max-inline-size: var(--width__xs);

    &:hover img {
      transform: scale(1.0625);
    }

    img {
      animation: var(--animation);
      inline-size: 100%;
      transform: scale(1.0125);
      transition: transform 0.75s var(--transition);
    }
  }

  .profile__wrap {
    container-type: inline-size;

    @container (min-width: 40rem) {
      >span {
        column-gap: var(--size__l);
        grid-template-columns: auto 1fr;
      }
    }
  }

  .reccommendation {
    --color__border: var(--color__base--light);
    max-inline-size: fit-content;
    padding-block-start: var(--size__m);
    padding-block-end: unset;
    padding-inline: unset;

    >p {
      font-family: var(--type__family--secondary);
      font-style: italic;
      font-weight: 300;
      max-inline-size: 65ch;
      padding-inline: var(--size__l);

      &:first-child:before,
      &:last-of-type:after {
        color: var(--color__highlight);
        display: inline-block;
        font-size: var(--type__size--xl--fluid);
        transform: translateY(0.25ch);
      }

      &:first-child:before {
        content: open-quote;
        margin-inline-start: -0.625ch;
        margin-inline-end: 0.125ch;
      }

      &:last-of-type:after {
        content: close-quote;
        margin-inline-start: 0.125ch;
      }
    }
  }

  .interfaces {
    article {
      >* {
        min-inline-size: 0;
      }

      h1 {
        grid-column: 1/-1;
      }

      .interfaces__tile {
        min-inline-size: 0;
        text-decoration: none;

        svg {
          transition: scale 0.375s ease-in;
        }

        &:focus,
        &:hover {
          svg {
            scale: 1.03125;
          }
        }
      }
    }
  }
}

@media print {
  html {
    font-size: 80%;
  }

  body>header {
    overflow: hidden;
    padding-top: 0;
    position: relative;

    nav section:last-child {
      >* {
        display: none;
      }

      &:after {
        content: "jaredpdesigns@gmail.com • 503-474-7437";
        display: inline-flex;
        font-size: var(--type__size--s);
      }
    }
  }

  main {
    padding: var(--size__l) 0;
  }

  article {

    >*+h1,
    >h1+*,
    >*+h2,
    >h2+*,
    >*+h3,
    >*+hr {
      margin-top: var(--size__l);
    }
  }

  li+li,
  ol ol {
    margin-top: var(--size__m);
  }

  hr {
    display: inline-block;
    border-top: var(--size__xs) solid var(--color__highlight--semi);
  }
}