.profile {
  article > figure {
    clip-path: url(#blobby);
    @media (min-width: 29rem) {
      inline-size: 20rem;
    }
    img {
      aspect-ratio: 1/1;
      width: 100%;
    }
  }
}

.profile .gallery__item,
.projects .grid__item {
  overflow: hidden;
  &:focus-visible,
  &:hover {
    img {
      transform: scale(1.0125);
    }
  }
  &:focus-visible {
    box-shadow: 0 0 0 var(--size__xs) var(--color__highlight--semi);
  }
  [data-theme="dark"] & {
    picture:first-child {
      display: none;
    }
    picture:nth-of-type(2) {
      display: block !important;
    }
  }
  img {
    aspect-ratio: 320 / 200;
    .loaded & {
      transition: transform 0.375s ease-in;
    }
  }
  figcaption {
    order: -1;
    position: relative;
    [data-theme="dark"] & {
      background-color: var(--color__contrast--extra);
    }
    h2,
    h3 {
      .loaded & {
        transition: color 0.375s ease-in;
      }
    }
  }
}

.projects {
  .grid {
    grid-column: 1/-1;
    padding-top: 0;
    &__item {
      &.featured {
        grid-column: 1/-1;
      }
    }
  }
}

.detail {
  .grid {
    grid-column: 1/-1;
    &__item {
      background-color: var(--color__contrast);
      [data-theme="dark"] & {
        background-color: var(--color__contrast--extra);
        img:first-child {
          display: none;
        }
        img:nth-of-type(2) {
          display: block !important;
        }
      }
    }
  }
}

.error > figure + * {
  margin-top: var(--size__xxxl);
}

.cv {
  #recommendations {
    grid-column: 1/-1;
    .grid {
      padding-bottom: 0;
      padding-top: 0;
      max-width: var(--width__xxl);
    }
    blockquote {
      &:first-child {
        grid-row: span 2;
      }
      > section > p {
        &:first-child:before,
        &:last-child:after {
          color: var(--color__highlight--semi);
          font-size: var(--type__size--xl);
          font-weight: 600;
          line-height: var(--type__lineheight--m);
        }
        &:first-child:before {
          content: "”";
          margin-left: calc(var(--size__s) * -1);
        }
        &:last-child:after {
          content: "”";
        }
      }
    }
  }
}

.hire {
  #process {
    grid-column: 1/-1;
    grid-template-columns: inherit;
  }
}

.clients {
  .grid {
    grid-column: 1/-1;
  }
  .grid__item {
    transition: transform 0.375s ease-in;
    &:hover {
      transform: scale(1.0125);
    }
    &:focus-visible {
      box-shadow: 0 0 0 var(--size__xs) var(--color__highlight--semi);
    }
  }
}

.agreement,
.invoice {
  blockquote {
    margin-left: calc(var(--size__l) * -1);
    padding-left: var(--size__l);
  }
}

.agreement {
  #signatures {
    > * + * {
      margin-top: var(--size__s);
    }
    svg {
      margin-left: calc(var(--type__size--m) * -1);
    }
    p:nth-child(3),
    p:last-child {
      border-top: var(--size__xxs) solid var(--color__base--mid);
    }
    p:nth-child(3) {
      margin-top: calc(var(--size__m) * -1);
    }
    p:last-child {
      margin-top: var(--size__xxl);
    }
  }
}

.invoice {
  h2 + p {
    font-size: var(--type__size--xl);
    line-height: clamp(2rem, var(--type__size--target), 2.5rem);
    margin-top: var(--size__m) !important;
  }
}
